<!DOCTYPE html>
<html>
  <head>
    <script src="http://js.pusher.com/3.0/pusher.min.js"></script>
    <script>
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('210e48ecc2617b2f1809', {
      encrypted: true
    });



    channel = pusher.subscribe('presence-demo');
    channel.bind('pusher:subscription_succeeded', function(members) {
        if (channel.members.count > 3) {
            $("#accept").attr("class", "weather-icon sun2");
            $("#as").html("Status: full");
            $("#presence").html("");
            $("#test").css('left', 10);
            $("#test").html("You'll be added when a spot opens.");
        } else {
            $("#accept").attr("class", "weather-icon sun");
            $("#as").html("Status: accepting");
            $("#test").css('left', 85);
            $("#test").html("Online");
            $("#presence").html(channel.members.count);
        }
    })

    channel.bind('pusher:member_removed', function(member) {
        if (channel.members.count <= 3) {
            $("#accept").attr("class", "weather-icon sun");
            $("#as").html("Status: accepting");
            $("#test").css('left', 85);
            $("#test").html("Online");

        }
        $("#presence").html(channel.members.count);
        console.log("Count", channel.members.count)
    })

    channel.bind('pusher:member_added', function(member) {
        myId = member.id;
        $("#presence").html(channel.members.count);
        console.log("Count", channel.members.count)
    })
    </script>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>