<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="http://js.pusher.com/2.0/pusher.min.js"></script>

    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <script>
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('210e48ecc2617b2f1809', {
      encrypted: true
    });

  channel = pusher.subscribe('presence-demo');
  channel.bind('pusher:subscription_succeeded', function(members){
    $('#presence').empty()

    // members.each(add_member);

    console.log("Count", members.count)
    document.getElementById("presence").innerHTML = members.count;
  })

  channel.bind('pusher:member_removed', function(member){
    $('#presence_' + member.id).remove();
    document.getElementById("presence").innerHTML = channel.members.count;
    console.log("Count", channel.members.count)
  })

  channel.bind('pusher:member_added', function(member){
    // add_member(member)
    document.getElementById("presence").innerHTML = channel.members.count;
    console.log("Count", channel.members.count)
  })

  channel.bind("message", function(data) {
    speak(data.user_id, data.text)
  })



  </script>

    </script>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>